*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: lightgray;
    color: black;
}

body {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

h3,
ul {
    margin-top: 0;
}

ul {
    padding-left: 0;
}

header {
    height: 50px;
    text-align: center;
    font-size: 2rem;
}

aside {
    width: 30%;
    margin-right: 20px;
    float: left;
}

aside ul li {
    list-style: none;
    margin-top: 10px;
}

aside ul li.active,
aside ul li:hover {
    background-color: lightslategrey;
}

main {
    width: 400px;
    float: left;
}

img {
    max-width: 100%;
}

.counter {
    font-size: 1.2rem;
    opacity: .6;
}
